<div class="updateList" id="announcementsList" style="width: 200px; display: inline-block; vertical-align:top;">' +
    <dl class="entry-message">
        <dt>some content</dt>
    </dl>
</div>
<div class="updateList" id="blogList" style="width: 200px; display: inline-block; vertical-align:top;">
    <dl class="entry-message">
        <dt>some content</dt>
        <dt>some additional content</dt>
    </dl>
</div>